Listen 8080
ServerAdmin {{ magento_admin_email }}
ServerName {{ server_hostname }}

<Directory "{{ httpd_base_dir }}/var/www/html">
    Options -Indexes -FollowSymLinks -MultiViews
    AllowOverride All
    Require all granted
</Directory>
